body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    width: 100vw;
    height: 100vh;
}